<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link href="./style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href='/'>Home</a></li>
                <li><a href='/contact'>Contact</a></li>
                <li><form action="/logout?_method=DELETE" method="POST">
                    <button type="submit">Log out</button>        
                </form></li>
            </ul>
        </nav>
    </header>